/*FORM*/
#fs-frm {
    margin-top: 3vh;
}

#fs-frm input,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label{
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

#fs-frm input,
#fs-frm textarea{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, .1);
    transition: .5s ease;
}

#fs-frm input:focus,
#fs-frm input:hover,
#fs-frm textarea:focus,
#fs-frm textarea:hover {
    background-color: rgba(255, 255, 255, 0.21);
    outline: gray solid thin;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 94%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}


#fs-frm [type="submit"] {
    background-color: #FF6C4C;
    position: absolute;
    right: 0;
}