*/.idea/*
.idea/*
*/*.iml
*.iml
*/*.xml
*.xml
*/out/*
out/*
.DS_Store
*/.DS_Store
*.MF
16M-OOP/
21_02_10_inverse_string/
21_05_21_lesson2/
DayOneModulOne/
JAVA-Lessons/
Sharfaretz/
WebProjectStarter/
frontend/
frontend_WWW/
teat/
html-elective-14-19/
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
phonebook/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

